{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<form>
    <div class="form-group">
        <h2>{{task.taskname}}</h2>
        <label>Priority</label>
        <p>{{task.priorityname}}</p>
    </div>
    <div class="form-group">
        <label>Tags</label>
        <p>To be implemented</p>
    </div>
    <div class="form-group">
        <label>Description</label>
        <p>{{task.description}}</p>
    </div>
    <div class="form-group">
        <a class="btn btn-default btn-sm" href="{{base_path}}/task">Return</a>
    </div>
</form>
{% endblock %}