<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>Kirjaudu sisään</h1>

        <!-- Kaikki lomakkeen elementit form-tagin sisään -->
        <form>
            <!-- Tekstikenttä käyttäjätunnukselle -->
            <div class="form-group">
                <label>Käyttäjätunnus</label>
                <input type="text" class="form-control">
            </div>

            <!-- Salasanakenttä salasanalle -->
            <div class="form-group">
                <label>Salasana</label>
                <input type="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
        </form>
        {% endblock %}
    </body>
</html>
