{% extends "base.html" %}
{% block content %}
  <h1>Listing all Tasks <a href="#" class="btn btn-primary btn-lg">Add Task</a></h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Task</th>
        <th>Julkaisupäivä</th>
        <th>Priority</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">A thing you must do</a></td>
        <td>description etc why must task be done hmmm</td>
        <td><label class="label label-danger">DO IT NOW!</label></td>
        <th><a class="btn btn-default btn-sm" href="#">Edit</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}